<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xueguai_armleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,243},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>monster_xueguai_armright.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,151},{63,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
            <key>monster_xueguai_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{183,153}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,153}}</string>
                <key>sourceSize</key>
                <string>{185,153}</string>
            </dict>
            <key>monster_xueguai_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{195,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,202}}</string>
                <key>sourceSize</key>
                <string>{195,202}</string>
            </dict>
            <key>monster_xueguai_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{134,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,122}}</string>
                <key>sourceSize</key>
                <string>{134,122}</string>
            </dict>
            <key>monster_xueguai_footright.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,199},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>monster_xueguai_handleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,347},{89,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,134}}</string>
                <key>sourceSize</key>
                <string>{89,134}</string>
            </dict>
            <key>monster_xueguai_handright.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,347},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>monster_xueguai_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,147}}</string>
                <key>sourceSize</key>
                <string>{266,147}</string>
            </dict>
            <key>monster_xueguai_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{194,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{194,39}}</string>
                <key>sourceSize</key>
                <string>{210,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_020.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6aea159e7e4f6f4e91b7851975f22b4$</string>
            <key>textureFileName</key>
            <string>monster_020.png</string>
        </dict>
    </dict>
</plist>
