<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bianfu_armleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,171},{31,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>monster_bianfu_armleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,111},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>monster_bianfu_armright.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,65},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>monster_bianfu_beard.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,186},{120,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>monster_bianfu_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,269},{60,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,86}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>monster_bianfu_earleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,186},{81,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,64}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>monster_bianfu_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,39},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>monster_bianfu_footright.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,88},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>monster_bianfu_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,61},{158,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,113}}</string>
                <key>sourceSize</key>
                <string>{158,113}</string>
            </dict>
            <key>monster_bianfu_handleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>monster_bianfu_handright.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,300},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,30}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>monster_bianfu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{106,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,148}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
            <key>monster_bianfu_legleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,221},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>monster_bianfu_legleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,275},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>monster_bianfu_legright.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,221},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>monster_bianfu_legright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,141},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>monster_bianfu_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,201},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>monster_bianfu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{278,57}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
            <key>monster_bianfu_toothright.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,257},{16,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,41}}</string>
                <key>sourceSize</key>
                <string>{16,41}</string>
            </dict>
            <key>monster_bianfu_wingleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{188,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>monster_bianfu_wingright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{161,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,113}}</string>
                <key>sourceSize</key>
                <string>{161,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_220.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6caee592aad113bc924eb90ed1ecebd6$</string>
            <key>textureFileName</key>
            <string>monster_220.png</string>
        </dict>
    </dict>
</plist>
