<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xiaoshou_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,234},{154,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,180}}</string>
                <key>sourceSize</key>
                <string>{154,180}</string>
            </dict>
            <key>monster_xiaoshou_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,416},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>monster_xiaoshou_footright.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>monster_xiaoshou_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,230}}</string>
                <key>sourceSize</key>
                <string>{204,230}</string>
            </dict>
            <key>monster_xiaoshou_legleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,416},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>monster_xiaoshou_legleftback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{74,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,44}}</string>
                <key>sourceSize</key>
                <string>{74,44}</string>
            </dict>
            <key>monster_xiaoshou_legright.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,416},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>monster_xiaoshou_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{230,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{230,47}}</string>
                <key>sourceSize</key>
                <string>{248,49}</string>
            </dict>
            <key>monster_xiaoshou_wingleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,234},{118,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,173}}</string>
                <key>sourceSize</key>
                <string>{118,173}</string>
            </dict>
            <key>monster_xiaoshou_wingright.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,409},{100,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,161}}</string>
                <key>sourceSize</key>
                <string>{100,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_030.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa4350db12bbd633d49fc8446a7edca$</string>
            <key>textureFileName</key>
            <string>monster_030.png</string>
        </dict>
    </dict>
</plist>
