<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_banrenma_armleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{109,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,90}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>monster_banrenma_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,74},{196,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,125}}</string>
                <key>sourceSize</key>
                <string>{196,125}</string>
            </dict>
            <key>monster_banrenma_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{159,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,177}}</string>
                <key>sourceSize</key>
                <string>{159,177}</string>
            </dict>
            <key>monster_banrenma_legleft1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,256},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>monster_banrenma_legleft1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,201},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>monster_banrenma_legleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,213},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>monster_banrenma_legright1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,181},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>monster_banrenma_legright1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,201},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>monster_banrenma_legright1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,181},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>monster_banrenma_legright2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,74},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>monster_banrenma_legright2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,181},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>monster_banrenma_legright2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,215},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>monster_banrenma_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{347,70}}</string>
                <key>sourceSize</key>
                <string>{375,74}</string>
            </dict>
            <key>monster_banrenma_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{301,139}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,139}}</string>
                <key>sourceSize</key>
                <string>{307,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_320.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083b7b1b10d24acc07168b0eed798330$</string>
            <key>textureFileName</key>
            <string>monster_320.png</string>
        </dict>
    </dict>
</plist>
