<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xuejuren_armleft.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{165,387},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>monster_xuejuren_armright.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{210,127},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>monster_xuejuren_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{164,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,206}}</string>
                <key>sourceSize</key>
                <string>{166,206}</string>
            </dict>
            <key>monster_xuejuren_footleft.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{78,388},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>monster_xuejuren_footright.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{100,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>monster_xuejuren_handleft.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{87,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,159}}</string>
                <key>sourceSize</key>
                <string>{87,159}</string>
            </dict>
            <key>monster_xuejuren_handright.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{91,227},{83,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,158}}</string>
                <key>sourceSize</key>
                <string>{83,158}</string>
            </dict>
            <key>monster_xuejuren_head.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{169,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,219}}</string>
                <key>sourceSize</key>
                <string>{169,219}</string>
            </dict>
            <key>monster_xuejuren_legleft.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{176,227},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>monster_xuejuren_legright.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{210,61},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>monster_xuejuren_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{278,57}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_290.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fca715b7102e760167f2c188e497fc0$</string>
            <key>textureFileName</key>
            <string>monster_290.png</string>
        </dict>
    </dict>
</plist>
