<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_shirenmo_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,188}}</string>
                <key>sourceSize</key>
                <string>{184,188}</string>
            </dict>
            <key>monster_shirenmo_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,125},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>monster_shirenmo_footright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{85,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>monster_shirenmo_handleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{186,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,177}}</string>
                <key>sourceSize</key>
                <string>{186,177}</string>
            </dict>
            <key>monster_shirenmo_handright.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,188},{100,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>monster_shirenmo_headleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,231},{154,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,146}}</string>
                <key>sourceSize</key>
                <string>{154,146}</string>
            </dict>
            <key>monster_shirenmo_headright.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>monster_shirenmo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{189,38}}</string>
                <key>sourceSize</key>
                <string>{203,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_060.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c7226c746df181136a365a6d21855e$</string>
            <key>textureFileName</key>
            <string>monster_060.png</string>
        </dict>
    </dict>
</plist>
