<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_chulong_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{137,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,178}}</string>
                <key>sourceSize</key>
                <string>{137,178}</string>
            </dict>
            <key>monster_chulong_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,136},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>monster_chulong_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,138},{10,14}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>monster_chulong_handleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>monster_chulong_handleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>monster_chulong_handleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,484},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>monster_chulong_handright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,484},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>monster_chulong_handright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>monster_chulong_handright3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,478},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>monster_chulong_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,330},{133,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,146}}</string>
                <key>sourceSize</key>
                <string>{133,146}</string>
            </dict>
            <key>monster_chulong_legleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,96},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>monster_chulong_legleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,55},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>monster_chulong_legright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,478},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>monster_chulong_legright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>monster_chulong_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,204},{278,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{278,57}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
            <key>monster_chulong_wingleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,190}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,190}}</string>
                <key>sourceSize</key>
                <string>{138,190}</string>
            </dict>
            <key>monster_chulong_wingright.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,277},{51,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,135}}</string>
                <key>sourceSize</key>
                <string>{51,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_360.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af27006d48542df43c59b5ac96592287$</string>
            <key>textureFileName</key>
            <string>monster_360.png</string>
        </dict>
    </dict>
</plist>
