<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_strike_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hunter_fire_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{113,136}}</string>
                <key>offset</key>
                <string>{-29,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,59},{113,136}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,758},{169,234}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{169,234}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,758},{167,230}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{167,230}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,217},{165,228}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,62},{165,228}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,718},{165,226}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,62},{165,226}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,551},{165,226}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,62},{165,226}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,551},{165,226}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,62},{165,226}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,384},{165,226}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,62},{165,226}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{213,272}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{213,272}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,428},{211,328}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{211,328}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{191,424}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{191,424}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,484},{191,452}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{191,452}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,480}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{211,480}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{149,476}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{149,476}}</string>
                <key>sourceSize</key>
                <string>{215,480}</string>
            </dict>
            <key>hunter_fire_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,217},{178,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_strike_hunter0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83975374e08cef65d317e4ac0835f04e$</string>
            <key>textureFileName</key>
            <string>Effect_strike_hunter0.png</string>
        </dict>
    </dict>
</plist>
