<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurenS_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,656},{120,96}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,102},{120,96}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,763},{122,146}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,52},{122,146}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,816},{126,200}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{126,200}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{152,200}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{152,200}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,218},{220,198}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,218},{252,208}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,208}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{256,214}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,214}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{252,214}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,214}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,214}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,214}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhurenS_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{254,82}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,132},{254,82}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>zhuren_axe_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,304},{33,123}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,81},{33,123}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_axe_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,302},{33,129}}</string>
                <key>offset</key>
                <string>{-19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,90},{33,129}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_axe_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,911},{89,99}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,99},{89,99}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_axe_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,728},{137,121}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{137,121}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_axe_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,908},{123,95}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{123,95}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_axe_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,589},{123,93}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{123,93}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_axe_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,894},{123,93}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{123,93}}</string>
                <key>sourceSize</key>
                <string>{165,225}</string>
            </dict>
            <key>zhuren_bladeshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,433},{154,143}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>zhuren_bladeshine_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,418},{185,169}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{185,169}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>zhuren_bladeshine_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,428},{107,171}}</string>
                <key>offset</key>
                <string>{35,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,14},{107,171}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>zhuren_bladeshine_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,589},{71,129}}</string>
                <key>offset</key>
                <string>{53,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,56},{71,129}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>zhuren_bladeshine_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,429},{65,69}}</string>
                <key>offset</key>
                <string>{57,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,109},{65,69}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>zhuren_shine1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,754},{138,82}}</string>
                <key>offset</key>
                <string>{-53,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{138,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,404},{190,90}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,90}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,304},{198,98}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,98}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,202},{222,100}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{222,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{230,100}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{230,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,104},{226,96}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{226,96}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,589},{172,68}}</string>
                <key>offset</key>
                <string>{27,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{172,68}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>zhuren_shine2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,656},{105,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,95}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>zhuren_shine2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,911},{97,89}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,89}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>zhuren_shine2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,867},{93,95}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>zhuren_shine3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,537},{151,117}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{151,117}}</string>
                <key>sourceSize</key>
                <string>{159,143}</string>
            </dict>
            <key>zhuren_shine3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,589},{137,135}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,135}}</string>
                <key>sourceSize</key>
                <string>{159,143}</string>
            </dict>
            <key>zhuren_shine3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,763},{143,137}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,137}}</string>
                <key>sourceSize</key>
                <string>{159,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_strike_warrior0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fec997e388b3b56856207f246269da6$</string>
            <key>textureFileName</key>
            <string>Effect_strike_warrior0.png</string>
        </dict>
    </dict>
</plist>
