<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldcoin_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,54},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>goldcoin_stars_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,142},{14,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{14,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,172},{28,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{28,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{44,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,122},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{50,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>goldcoin_stars_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon_goldcoin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,192},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_goldcoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldcoin_drop0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b78f3148eb9b0f01125cc8a6409ea50d$</string>
            <key>textureFileName</key>
            <string>goldcoin_drop0.png</string>
        </dict>
    </dict>
</plist>
