<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_fengheguai_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{201,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,193}}</string>
                <key>sourceSize</key>
                <string>{201,193}</string>
            </dict>
            <key>monster_fengheguai_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,46},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>monster_fengheguai_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>monster_fengheguai_footright.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,206},{70,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
            <key>monster_fengheguai_handleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,197},{107,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,174}}</string>
                <key>sourceSize</key>
                <string>{107,174}</string>
            </dict>
            <key>monster_fengheguai_handleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{146,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,132}}</string>
                <key>sourceSize</key>
                <string>{146,132}</string>
            </dict>
            <key>monster_fengheguai_handright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{158,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,191}}</string>
                <key>sourceSize</key>
                <string>{158,191}</string>
            </dict>
            <key>monster_fengheguai_handthree.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,69},{137,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,70}}</string>
                <key>sourceSize</key>
                <string>{143,70}</string>
            </dict>
            <key>monster_fengheguai_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,208},{132,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>monster_fengheguai_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{209,42}}</string>
                <key>sourceSize</key>
                <string>{225,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_010.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57924aa36e0496fc465bef6a0e31a8a5$</string>
            <key>textureFileName</key>
            <string>monster_010.png</string>
        </dict>
    </dict>
</plist>
