<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xiong_armleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{119,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,140}}</string>
                <key>sourceSize</key>
                <string>{119,140}</string>
            </dict>
            <key>monster_xiong_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{258,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,188}}</string>
                <key>sourceSize</key>
                <string>{258,188}</string>
            </dict>
            <key>monster_xiong_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>monster_xiong_handleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,262},{128,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,165}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>monster_xiong_handright.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,262},{122,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,112}}</string>
                <key>sourceSize</key>
                <string>{122,112}</string>
            </dict>
            <key>monster_xiong_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,120},{135,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,132}}</string>
                <key>sourceSize</key>
                <string>{135,132}</string>
            </dict>
            <key>monster_xiong_legleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{72,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,169}}</string>
                <key>sourceSize</key>
                <string>{72,169}</string>
            </dict>
            <key>monster_xiong_legleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,61},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>monster_xiong_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{278,57}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_280.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1d004123b394ea290aed4131d4581d$</string>
            <key>textureFileName</key>
            <string>monster_280.png</string>
        </dict>
    </dict>
</plist>
