<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_keduoshou_backleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,167},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>monster_keduoshou_backleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>monster_keduoshou_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{153,195}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,195}}</string>
                <key>sourceSize</key>
                <string>{155,195}</string>
            </dict>
            <key>monster_keduoshou_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,51},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>monster_keduoshou_frontfoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,87},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>monster_keduoshou_frontleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,172},{114,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,152}}</string>
                <key>sourceSize</key>
                <string>{114,152}</string>
            </dict>
            <key>monster_keduoshou_frontleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,320},{98,129}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,129}}</string>
                <key>sourceSize</key>
                <string>{98,135}</string>
            </dict>
            <key>monster_keduoshou_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{199,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,168}}</string>
                <key>sourceSize</key>
                <string>{201,168}</string>
            </dict>
            <key>monster_keduoshou_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,232},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>monster_keduoshou_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{230,47}}</string>
                <key>sourceSize</key>
                <string>{248,49}</string>
            </dict>
            <key>monster_keduoshou_shouder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
            <key>monster_keduoshou_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,172},{68,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>monster_keduoshou_thing.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_080.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358f4b90d7b3e66bb90a97683249fcbf$</string>
            <key>textureFileName</key>
            <string>monster_080.png</string>
        </dict>
    </dict>
</plist>
