<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_diyuquan_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,102},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>monster_diyuquan_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>monster_diyuquan_body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>monster_diyuquan_handleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,173},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>monster_diyuquan_handleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,173},{94,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{94,107}</string>
            </dict>
            <key>monster_diyuquan_handleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,110},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>monster_diyuquan_handleft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,251},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>monster_diyuquan_handright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,189},{102,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,81}}</string>
                <key>sourceSize</key>
                <string>{102,81}</string>
            </dict>
            <key>monster_diyuquan_headleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{198,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,169}}</string>
                <key>sourceSize</key>
                <string>{198,169}</string>
            </dict>
            <key>monster_diyuquan_headright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{184,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,167}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>monster_diyuquan_legleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,222},{71,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,80}}</string>
                <key>sourceSize</key>
                <string>{71,80}</string>
            </dict>
            <key>monster_diyuquan_legleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>monster_diyuquan_mouthleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,295},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>monster_diyuquan_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{232,49}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>monster_diyuquan_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,53},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,40}}</string>
                <key>sourceSize</key>
                <string>{55,40}</string>
            </dict>
            <key>monster_diyuquan_toothleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,269},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_140.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c83e96634ddc37c1291682f1835823$</string>
            <key>textureFileName</key>
            <string>monster_140.png</string>
        </dict>
    </dict>
</plist>
