<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_yezhuren_armleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,410},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>monster_yezhuren_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,210}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{166,210}}</string>
                <key>sourceSize</key>
                <string>{194,210}</string>
            </dict>
            <key>monster_yezhuren_eyeleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,410},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>monster_yezhuren_eyeright.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,410},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>monster_yezhuren_footleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,101},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>monster_yezhuren_footright.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>monster_yezhuren_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{210,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,102}}</string>
                <key>sourceSize</key>
                <string>{210,102}</string>
            </dict>
            <key>monster_yezhuren_handleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>monster_yezhuren_handright.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,386},{92,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{92,120}</string>
            </dict>
            <key>monster_yezhuren_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,214},{170,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,162}}</string>
                <key>sourceSize</key>
                <string>{170,162}</string>
            </dict>
            <key>monster_yezhuren_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,214},{194,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{194,39}}</string>
                <key>sourceSize</key>
                <string>{210,41}</string>
            </dict>
            <key>monster_yezhuren_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{82,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,134}}</string>
                <key>sourceSize</key>
                <string>{82,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_050.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c59e2063dca4272497f28dcb393db41$</string>
            <key>textureFileName</key>
            <string>monster_050.png</string>
        </dict>
    </dict>
</plist>
