<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mages_lightning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,810},{102,140}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,6},{102,140}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,46}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,231},{320,46}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{168,268}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,4},{168,268}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{134,70}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,203},{134,70}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{176,268}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,8},{176,268}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,264},{188,272}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,4},{188,272}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{178,260}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{178,260}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,538},{232,270}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{232,270}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{264,274}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{264,274}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>Mages_lightning_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{294,270}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{294,270}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_atk_magister0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:934ece9346fb61eb9a5259ff401081df$</string>
            <key>textureFileName</key>
            <string>Effect_atk_magister0.png</string>
        </dict>
    </dict>
</plist>
