<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_strike_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,600},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fireball_eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{242,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{242,88}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>fireboom2_A_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,350},{132,132}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,149},{132,132}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,290},{190,250}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,52},{190,250}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,600},{190,274}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{190,274}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{190,286}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{190,286}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,304},{190,294}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,294}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,300}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{188,300}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{186,300}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{186,300}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{182,298}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{182,298}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>fireboom2_A_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,606},{182,296}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{182,296}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>firefloor1_A_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,967},{171,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{171,49}}</string>
                <key>sourceSize</key>
                <string>{189,61}</string>
            </dict>
            <key>firefloor2_A_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,904},{181,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,61}}</string>
                <key>sourceSize</key>
                <string>{181,61}</string>
            </dict>
            <key>firewave_A_eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,904},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>mage_fire_c_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,876},{128,148}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,858},{126,178}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,20},{126,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{134,194}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{134,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{172,188}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{172,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,180},{184,184}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{186,176}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{186,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,708},{180,166}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{180,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,532},{174,180}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,366},{164,182}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{164,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,484},{154,182}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{154,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,708},{148,180}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{148,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,876},{140,178}}</string>
                <key>offset</key>
                <string>{-29,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{140,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,176},{134,172}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{134,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>mage_fire_c_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{134,172}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{134,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect_strike_magister0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b33a480d7235b20de6f16976125775e$</string>
            <key>textureFileName</key>
            <string>Effect_strike_magister0.png</string>
        </dict>
    </dict>
</plist>
